---
import { Image } from 'astro:assets';
import profile from '../assets/profile.jpeg';
---

<div
	class="w-full flex flex-col md:flex-row gap-6 justify-center items-center my-20"
>
	<div class="rounded-full border-teal-500 border-2">
		<Image
			width="254"
			height="254"
			class="rounded-full border-gray-200 border-2 size-36"
			src={profile}
			alt="Profile picture"
		/>
	</div>
	<div class="flex flex-col gap-4 items-center sm:items-start">
		<h1 class="text-4xl font-bold text-gray-200">Hi, I'm Felix 👋</h1>
		<div class="text-gray-300 text-2xl text-center sm:text-left">
			<p>Software Engineer by day.</p><p>Software Engineer by night.</p>
		</div>
		<div
			class="flex flex-row items-center justify-center sm:justify-start gap-6"
		>
			<a
				href="https://github.com/felangel"
				class="flex flex-row items-center gap-2 text-gray-200 hover:text-white text-lg"
				><i class="ph-fill ph-github-logo"></i><span class="hidden sm:block"
					>GitHub</span
				></a
			>
			<a
				href="https://discord.gg/bloc"
				class="flex flex-row items-center gap-2 text-gray-200 hover:text-white text-lg"
				><i class="ph-fill text-blue-600 ph-discord-logo"></i><span
					class="hidden sm:block">Discord</span
				>
			</a>
			<a
				href="https://www.linkedin.com/in/felix-angelov"
				class="flex flex-row items-center gap-2 text-gray-200 hover:text-white text-lg"
				><i class="ph-fill text-blue-400 ph-linkedin-logo"></i><span
					class="hidden sm:block">LinkedIn</span
				></a
			>
			<a
				href="https://twitter.com/felangelov"
				class="flex flex-row items-center gap-2 text-gray-200 hover:text-white text-lg"
				><i class="ph-fill text-blue-400 ph-twitter-logo"></i><span
					class="hidden sm:block">Twitter</span
				></a
			>
			<a
				href="https://bsky.app/profile/felangel.bsky.social"
				class="flex flex-row items-center gap-2 text-gray-200 hover:text-white text-lg"
				><i class="ph-fill text-blue-500 ph-butterfly"></i><span
					class="hidden sm:block">Bluesky</span
				></a
			>
		</div>
	</div>
</div>
