---
import Card from './Card.astro';

const projects = [
	{
		title: 'bloc',
		language: 'Dart',
		description: 'A predictable state management library.',
		stars: '12.2K',
		downloads: '2.37M',
		link: 'https://github.com/felangel/bloc',
	},
	{
		title: 'fresh',
		language: 'Dart',
		description: 'A token refresh library for Dart.',
		stars: '281',
		downloads: '19.8k',
		link: 'https://github.com/felangel/fresh',
	},
	{
		title: 'dart_frog',
		language: 'Dart',
		description: 'A fast, minimalistic backend framework for Dart.',
		stars: '2K',
		downloads: '22.6K',
		link: 'https://github.com/dart-frog-dev/dart_frog',
	},
	{
		title: 'equatable',
		language: 'Dart',
		description: 'Value based equality made easy.',
		stars: '1K',
		downloads: '4.17M',
		link: 'https://github.com/felangel/equatable',
	},
	{
		title: 'flow_builder',
		language: 'Dart',
		description: 'Declarative navigation for Flutter.',
		stars: '410',
		downloads: '35.4K',
		link: 'https://github.com/felangel/flow_builder',
	},
	{
		title: 'mason',
		language: 'Dart',
		description: 'A template generator library.',
		stars: '1.1K',
		downloads: '211K',
		link: 'https://github.com/felangel/mason',
	},
	{
		title: 'mocktail',
		language: 'Dart',
		description: 'A mocking library inspired by mockito.',
		stars: '679',
		downloads: '2.77M',
		link: 'https://github.com/felangel/mocktail',
	},
	{
		title: 'web_socket_client',
		language: 'Dart',
		description: 'A simple WebSocket client for Dart.',
		stars: '175',
		downloads: '20.3K',
		link: 'https://github.com/felangel/web_socket_client',
	},
];
---

<div
	class="flex flex-col gap-6 items-center justify-center my-20 mx-auto w-full"
>
	<h2 class="text-3xl font-semibold text-gray-200">Open Source Projects</h2>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
		{
			projects.map((project) => {
				return <Card {...project} />;
			})
		}
	</div>
</div>
